.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 20px;
  border: 2px solid #130d0d;
}

.profile-card {
    display: flex;
    align-items: center;
    background-color: #c1c1ce;
    border: 2px solid #130d0d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
  }
  
  .profile-info {
    flex: 1;
  }
  
  .profile-info h2 {
    margin: 2;
    font-size: 20px;
    color: #0e0b0b;
  }
  
  .profile-info p {
    margin: 10px 0;
    font-size: 15px;
    color: #666;
  }
  
  .technologies {
    margin-top: 20px;
  }
  
  .technologies span {
    display: inline-block;
    background-color: #0c5db3;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 4px;
    font-size: 16px;
  }